@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .max-container{
        max-width: 1440px;
        margin:0 auto;
    }

    .shoe-background{
        @apply bg-[url('./assets/images/thumbnail-background.svg')] bg-cover bg-center
    }

    .padding-x {
      @apply px-10 sm:px-16
    }

    .margin-t{
        margin-top: 125px;
    }

    .section-heading{
        @apply font-palanquin  text-4xl sm:text-5xl font-semibold
    }

    .heading-subtitle{
        @apply text-lg text-gray-500 font-poppins
    }

    .subtitle{
        @apply text-xl text-gray-500 font-poppins
    }
}